<app-header 
(viewCustomerEvent)="toggleCustomerView($event)"
(viewItemsEvent)="toggleItemsView($event)"
(addCustomerEvent)="toggleCustomerView($event)"
(addItemEvent)="toggleItemsView($event)"></app-header>
<app-main-container 
[showItems]="showItems" 
[showCustomers]="showCustomers"
[showCartItems]="showCartItems"
[listOfItems]="listOfItems"
[isFormOpen]="isFormOpen"
[isItemFormOpen]="isItemFormOpen" 
[listOfCustomers]="listOfCustomers"
[listOfCartItems]="listOfCartItems"
[customer]="customer"
[sum]="sum"
(saveEvent)="handleSave($event)"
(deleteEvent)="handleDelete($event)"
(saveItemEvent)="handleSaveItem($event)"
(deleteItemEvent)="handleDeleteItem($event)"
(viewCartEvent)="handleViewCart($event)"
(addToCartEvent)="handleAddToCart($event)"
(changeOptionEvent)="handleChangeOption($event)"
(deleteCartItemEvent)="handleDeleteCartItem($event)"
(clearCartEvent)="handleClearCart($event)">
</app-main-container>
<app-footer></app-footer>